.form {

  &__input {
    border: 1px solid rgba(32, 32, 32, 0.2);
    border-radius: 10px;
    box-sizing: border-box;
    color: $mainDark;
    line-height: 21px;
    height: 41px;
    padding: 14px;
    width: 350px;
    transition: all 0.6s ease-in-out;

  }

  &__search-btn {
    &:after {
      background-image: url("/public/img/nav/search-icon.svg");
      left: auto;
      height: 18px;
      right: 12px;
      position: absolute;
      top: 12px;
      width: 18px;
    }
  }

}

